<h1 class="mt-5">{{title}}</h1>
<small>all {{title}}</small>

<div class="blog-container mt-3">
  {{#each posts}}
    <a href="/post/{{id}}">
      <div class="blog">
        <h5> {{title}} </h5>
        <p class="mt-3">
          {{description}}
        </p>
      </div>
    </a>
  {{/each}}
</div>

<script src="javascripts/script.js"></script>