<h1 class="mt-5">{{title}}</h1>
<p class="mt-3">View {{title}}</p>

<div class="blog-container">
  {{#each posts}}
    <a href="/:{{id}}/:{{title}}">
      <div class="blog">
        <h5> {{title}} </h5>
        <p class="mt-3">
          {{description}}
        </p>
      </div>
    </a>
  {{/each}}
</div>

<script src="javascripts/script.js"></script>